
<h4 style="text-transform: uppercase;">Disclaimer</h4>
<div class="entry-content">
    <p><span style="font-weight: 400;">This website is owned and operated by </span><span style="font-weight: 400;">Committee Members and Administrators of the website.</span></p>
    <p>UGKPS.com is not a registered investment, legal or tax advisor or a broker/dealer. All investment/financial opinios expressed by UGKPS.com are from the personal research and experience of the users and are intended as edicational material.</p>
    <p><span style="font-weight: 400;">This Disclaimer, along with the Terms of Use and Privacy Policy, governs your access to and use of </span><a href="http://www.ugkps.com"><span style="font-weight: 400;">www.ugkps.com</span></a> <span style="font-weight: 400;">including any content, functionality and services offered on or through </span><a href="http://www.ugkps.com"><span style="font-weight: 400;">www.ugkps.com</span></a> <span style="font-weight: 400;">(the “</span><b>Website</b><span style="font-weight: 400;">”), whether as a guest or a registered user.</span></p>
    <p><span style="font-weight: 400;">Please read the Disclaimer carefully before you start to use the Website. </span></p>

    <h4 style="text-transform: uppercase;">FOR EDUCATIONAL AND INFORMATIONAL PURPOSES ONLY</h4>
    <p><span style="font-weight: 400;">The information contained on this Website and the resources available for download through this website are for educational and informational purposes only. </span></p>

    <h4 style="text-transform: uppercase;">NOT LEGAL ADVICE</h4>
    <p><span style="font-weight: 400;">The information contained on this Website and the resources available for download through this website is not intended as, and shall not be understood or construed as, legal advice. We have done our best to ensure that the information provided on this Website and the resources available for download are accurate and provide valuable information. Regardless of anything to the contrary, nothing available on or through this Website should be understood as a recommendation.</span></p>

    <h4 style="text-transform: uppercase;">NOT FINANCIAL/INVESTMENT ADVICE</h4>
    <p><span style="font-weight: 400;">We are not regulated by the Financial Services Authority. The information contained on this Website and the resources available for download through this website is not intended as, and shall not be understood or construed as, financial advice. </span><span style="font-weight: 400;">We are not attorneys, accountants or financial advisors, nor are We holding ourselves out to be, and </span><span style="font-weight: 400;">the information contained on this Website is not a substitute for financial advice from a professional who is aware of the facts and circumstances of your individual situation.</span></p>
    <p><span style="font-weight: 400;">We have done our best to ensure that the information provided on this Website and the resources available for download are accurate and provide valuable information. Regardless of anything to the contrary, nothing available on or through this Website should be understood as a recommendation that you should not consult with a financial professional to address your particular information. We expressly recommends that you seek advice from a professional.</span></p>
    <p><span style="font-weight: 400;">Owners of the website shall not be held liable or responsible for any errors or omissions on this website or for any damage you may suffer as a result of failing to seek competent financial advice from a professional who is familiar with your situation.</span></p>

    <h4 style="text-transform: uppercase;">Do your Own Research</h4>
    <p>Our content is intended to be used and must be used for informational purposes only. It is very important to do your own analysis before making any investment based on your own personal circumstances. You should take independent financial advice from a professional in connection with, or independently research and verify, any information that you find on our Website and wish to rely upon, whether for the purpose of making an investment decision or otherwise.</p>

    <h4 style="text-transform: uppercase;">User Generated Content</h4>
    <p>Much of the content on this site is user-generated and, as such, impossible to monitor effectively. All of the information on our Website about businesses, companies, investment strategies, investments and investment opportunities is provided by our Registered Users. We act as a mere conduit for this information published on our Website, and we do not select, monitor, edit, modify review, evaluate or otherwise oversee the information or the publication of the information on our Website.</p>

    <h4 style="text-transform: uppercase;">USER’S PERSONAL RESPONSIBILITY</h4>
    <p><span style="font-weight: 400;">By using this Website, you accept personal responsibility for the results of your actions.&nbsp;You agree to take full responsibility for any harm or damage you suffer as a result of the use, or non-use, of the information available on this Website or the resources available for download from this Website. You agree to use judgment and conduct due diligence before taking any action or implementing any plan or policy suggested or recommended on this Website</span>.</p>

    <h4 style="text-transform: uppercase;">NO GUARANTEES, NO RELIANCE</h4>
    <p><span style="font-weight: 400;">You agree that the Website has not made any guarantees about the results of taking any action, whether recommended on this Website or not. The websote provides educational and informational resources that are intended to help users of this website succeed in </span><span style="font-weight: 400;">life, business,</span><span style="font-weight: 400;"> and otherwise. You nevertheless recognize that your ultimate success or failure will be the result of your own efforts, your particular situation, and innumerable other circumstances beyond the control and/or knowledge of the owners of website.</span></p>
    <p><span style="font-weight: 400;">You also recognize that prior results do not guarantee a similar outcome. &nbsp;Thus, the results obtained by others – users posting Investment Opportunities (where it be stocks, bonds or others) – applying the principles set out in this Website are no guarantee that you or any other person or entity will be able to obtain similar results.</span></p>
    <p>Accordingly, we will not be liable, whether in contract, tort (including negligence) or otherwise, in respect of any damage, expense or other loss you may suffer arising out of such information or any reliance you may place upon such information. Any arrangements between you and any third party contacted via the Website are at your sole risk.</p>

    <h4 style="text-transform: uppercase;">CONTACT US</h4>
    <p><span style="font-weight: 400;">Uttar Gujarat Kadva Patidar Samaaj (UGKPS) </span><span style="font-weight: 400;">welcomes your questions or comments regarding the Disclaimer:</span></p>
    <p><span style="font-weight: 400;">Email Address: </span><a href="mailto:ugkps.toronto@gmail.com"><span style="font-weight: 400;">ugkps.toronto@gmail.com</span></a></p>
    <p><em><span style="font-weight: 400;">Effective as of </span><span style="font-weight: 400;">March 2020.</span></em></p>
</div>


