@using ReportViewerForMvc;

@{ 
    ViewBag.Title = "Holdings";
    if (ViewBag.ReportViewer != null)
    {
        <div class="container-fluid" style="text-align:center">
            @Html.ReportViewer(ViewBag.ReportViewer as Microsoft.Reporting.WebForms.ReportViewer, new { @style = "height: 100%" })
        </div>
    }
}
